.profile__avatar-edit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../../images/edit.svg);
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  border: none;
}

.profile__avatar-edit:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s, transform 0.2s;
  opacity: 1;
  cursor: pointer;
}
