.card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px 31px;
}

@media screen and (max-width: 500px) {
  .card__title {
    padding: 18px 20px 28px;
  }
}