.profile__edit-button {
  grid-area: edit;
  width: 24px;
  height: 24px;
  background: url("../../../images/edit.svg") no-repeat center/10px 10px transparent;
  border: 1px solid #FFF;
  cursor: pointer;
  margin-bottom: 10px;
  align-self: end;
}

@media screen and (max-width: 500px) {
  .profile__edit-button {
    width: 18px;
    margin-bottom: 5px;
    height: 18px;
    background: url("../../../images/edit.svg") no-repeat center/7.5px 7.5px transparent;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: opacity 0.3s, transform 0.2s;
}